
.normal {
  font-family: Georgia, sans-serif;
  text-align: center;
  height: 100%;
  width: 100%;
  background-image: url('../assets/bg.jpg') ;
  background-size: 100% 100% no-repeat;
  position: absolute;
}

.loading {
  margin-top: 26rem;
  font-size: 2.6rem;
  font-weight: normal;
  letter-spacing: 0.1rem;
}
