.wrapper {
  /*border: 1px solid red;*/
  padding: 1.5rem 0rem 0 1.5rem;
  height: 4rem;
  width: 100%;
}
.day {
  height: 4rem;
  line-height: 4rem;
  float: left;
  font-size: 4rem;
  color: rgb(27, 116, 229);
}
.right {
  margin-left: 1rem;
  height: 4rem;
  line-height: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(164, 176, 215);
  float: left;
}
.like {
  float: right;
  margin-right: 3.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(164, 176, 215);
}
