.wrapper {
  height: 100%;
}
.content {
  font-size: 2.1rem;
  background-color: #fff;
  margin: 5.8rem 1.5rem 2rem 1.5rem;
  padding: 2rem 1rem 0 1rem;
  color: rgb(31,93,158);
  min-height: 100%;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.name {
  font-size: 2rem;
  color: rgb(41, 163, 233);
}
.context {
  font-size: 2.1rem;
  background-color: #fff;
  color: rgb(31,93,158);
}
.contentimg {
  width: 100%;
  height: auto;
}
.footer {
  position: fixed;
  left: 1.51rem;
  right: 1.51rem;
  bottom: 0;
  background-color: rgb(244,248,251);
}
.btn {
  font-size: 2rem;
  width: 50%;
  float: left;
  height: 5.8rem;
  color: rgb(176,197,218);
  font-weight: bold;
  background-color: rgb(244,248,251);
}
.btn::before {
  border: none !important;
}
.middle {
  background-color: #ffffff;
}
