.bg {
  position: absolute;
  background-image: url("../../assets/bg.png");
  background-size: 100% 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
}
.flex-container {
  margin: 3rem 2rem 10rem 2rem;
}
.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 2rem 4rem 4rem 4rem;
}
.footer:before {
  content:'';
  position:absolute;
  top: 0;right: 0;left: 0;bottom: 0;
  filter:blur(5px);
  background: rgb(31,138,195);
  opacity: 0.6;
  z-index:-1;
}
.left {
  float: left;
}
.right {
  float: right;
}
.middle {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 7rem;
  bottom: 2rem;
}
