.wrapper {
  text-align: center;
  align-items: center;
  align-self: center;
  height: 9rem;
  line-height: 9rem;
  width: 9rem;
  margin: 2rem .5rem;
  background-image: url("../../assets/bubble.png");
  background-size: 100% 100%;
}
