html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}
:global(#root) {
  height: 100%;
  width: 100%;
}
:global(.example-appear) {
  opacity: 0.01;
}
:global(.example-appear.example-appear-active) {
  opacity: 1;
  transition: opacity .5s ease-in;
}
:global(.example-enter) {
  opacity: 0.01;
}
:global(.example-enter.example-enter-active) {
  opacity: 1;
  transition: opacity .5s ease-in;
}
:global(.example-leave) {
  opacity: 1;
}
:global(.example-leave.example-leave-active) {
  opacity: 0.01;
  transition: opacity .3s ease-in;
}
:global(.am-tabs-default-bar) {
  background-color: transparent !important;
}
:global(.am-tabs-default-bar-tab-active) {
  color: white !important;
}
:global(.am-tabs-default-bar-underline){
  border: 1px #fff solid !important;
}
:global(.am-list-body) {
  background-color: transparent !important;
}
:global(.am-list-item) {
  background-color: transparent !important;
}
:global(.am-list-body::after) {
  background-color: transparent !important;
}
:global(.am-list-body::before) {
  background-color: transparent !important;
}
:global(.am-list-line::after) {
  background-color: transparent !important;
}
